@font-face {
	font-family: Ambasadore;
	src: url(../fonts/AmbassadoreTypeRegular.ttf);
}

@font-face {
	font-family: Robo;
	src: url(../fonts/RobotoCondensedLight.ttf);
}

.offset_top {
	margin-top: 5vh;
}

.offset_btn {
	margin-top: 3vh;
}

.green {
	color: #b0c800;
}

.green_bg {
	background-color: #b0c800;
}

.red {
	color: #FF4949;
}

.red_bg {
	background-color: #FF4949;
}

.btn {
	font-family: Ambasadore;
	font-weight: 600;
	border-radius: 0;
	border-color: white;
	min-width: 10vw;
}

.header {
	color: #b0c800;
	font-family: Ambasadore;
	font-weight: 600;
}

.answer {
	font-family: Robo;
	font-weight: 600;
	color: black;
}

.main {
	font-family: Ambasadore;
	font-weight: 600;
	color: #b0c800;
	font-size: 1.3em;

}